{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
    <title>Savefor - Change Password</title>
</head>
<body>
    <div class="container">
        <div class="links">
            <a class="main-link" href="{% url 'users:logout' %}">Logout</a>
            <a class="main-link" href="{% url 'file_uploader:upload' %}">Home</a>
        </div>
        <header class="main-header">
            <h1 class="main-header-title">Savefor</h1>
        </header>
        <main class="main-content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="submit-button" type="submit">
            </form>
        </main>
    </div>
</body>
</html>